include mixins
extends layout

block content
  .row
    .col.col-md-5
          if property.image_url == ""
            img(src="/default.png", style="height:370px")
          else
            img(src= property.image_url, onerror="this.src='/default.jpg'", style="height:370px;")
    .col.col-md-5
          div(id="map", style=" height:370px;")
  .row
        .col.col-md-6
            h3 #{property.street_address}
            h3 #{property.city}, #{property.state} #{property.zipcode}
            h4 #{property.property_type} - #{property.bedroom} Bed / #{property.bathroom} Bath - #{property.size} sqft
            .panel.panel-warning
                .panel-body
                    if property.szpids != null
                        for szpid in property.szpids
                            if szpid != "-1"
                                a.btn.btn-primary(href='#', role='button', onclick="window.document.location='/detail?id=#{szpid}';") Similar Property
                                    br
                            else
                                h4 similar not found
                    else
                        h4 similar not found
            form(id='like-form', name="like-form", method='POST', action="/like")
                    .hidden
                        input(type='email', name='email', class='form-control',
                        id='email',value=logged_in_user)
                    .hidden
                        input(type='text', name='zpid', class='form-control',
                        id='zpid',value= property.zpid)
                    .form-group
                        if liked
                            button.btn.btn-default Remove
                        else
                            button.btn.btn-default Like
        .col.col-md-4
            br
            .panel.panel-warning(style="")
                .panel-heading
                    h4.panel-title
                        if property.is_for_sale == true
                            h4(style="color: green;") • For Sale:
                                span.h4 $#{property.list_price}
                        else
                            h4(style="color: red;") Not For Sale
                .panel-body
                    h4 Estimate value:
                    if property.predicted_change >= 0
                        span.h4(style="color: green;") $#{property.predicted_value} (+#{property.predicted_change}%)
                    else
                        span.h4(style="color: red;") $#{property.predicted_value} (#{property.predicted_change}%)
                    h4 Z-estimate:
                        span.h4(style="color: black;") $#{property.zestimate}

        .col.col-md-2

  .row
    .col.col-md-10
      table.table.table-striped.table-responsive
        tr
          td
            p= property.description
  .row
    .col.col-md-10
      table.table.table-striped.table-responsive
        tr
          td
            h5 Elementary School: #{property.school_ratingE}
          td
            h5 Middle School : #{property.school_ratingM}
          td
            h5 High School : #{property.school_ratingH}
  .row
    .col.col-md-5
      table.table.table-striped.table-responsive
        for each in property.field1
          tr
            td
              h5= each
    .col.col-md-5
      table.table.table-striped.table-responsive
        for each in property.field2
          tr
            td
              h5= each








       // p #{half}
        //p = #{field}
        //for each in property.field1
         //   p= each
        //for each in property.field2
           // p= each
        //p= property.facts


  script.
    function loadMapScenario() {
        var map = new Microsoft.Maps.Map(document.getElementById('map'), {
            credentials: 'AqO1MgaLkk7DdoBd-2lajxSIhDXs5aMzE_xLzPU-Lmmjh0rHy2Z6NQeb_iwhYBVx',
            center: new Microsoft.Maps.Location(#{property.latitude}, #{property.longitude}),
            mapTypeId: Microsoft.Maps.MapTypeId.road,
            zoom: 13
        });

        var pushpin = new Microsoft.Maps.Pushpin(map.getCenter(), { icon: 'https://www.bingmapsportal.com/Content/images/poi_custom.png',
            anchor: new Microsoft.Maps.Point(12, 39) });

        map.entities.push(pushpin);  
    }

    function groupFact(fact){
        var factrows=fact.length / 2;
        //var newgroup = [];
        //for (var i = 0; i < factrows;i++)
             //fact[i];
        return factrows;
    }
  script(type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?branch=release&callback=loadMapScenario' async defer)
