include mixins
extends layout

block content

  .row
    .col-md-1
    .col-md-10
      .panel.panel-info
        .panel-heading
          h2.panel-title Property Summary
        .panel-body
          p Address : #{address}
          if ptype == "town"
            p Type: Town House
          else if ptype == "singlef"
            p Type: Single Family
          else if ptype == "condo"
            p Type: Condo
          else if ptype == "multif"
            p Type: Multi Family

    col-md-1

  .row
    .col-md-1
    .col-md-5
        .panel.panel-info
            .panel-heading
                h2.panel-title Current Property
            .panel-body
                p Floor Size : #{floor_size}
                p Lot Size : #{lot_size}
                p Number Of Bedroom : #{bedr}
                p Number Of Bathroom : #{bathr}
                ul.list-group
                    li.list-group-item Elementary School Rating: #{es}
                    li.list-group-item Middle School Rating: #{ms}
                    li.list-group-item High School Rating: #{hs}


    .col-md-5
        .panel.panel-info
            .panel-heading
                h2.panel-title Future Property
            .panel-body
                p Floor Size : #{new_floor_size}
                p Lot Size : #{new_lot_size}
                p Number Of Bedroom : #{new_bedr}
                p Number Of Bathroom: #{new_bathr}
                ul.list-group
                    li.list-group-item Elementary School Rating: #{new_es}
                    li.list-group-item Middle School Rating: #{new_ms}
                    li.list-group-item High School Rating: #{new_hs}
    .col-md-1

  .row
    .col-md-1
    .col-md-10
      .panel.panel-danger
        .panel-heading
          h2.panel-title Estimation Summary
        .panel-body
          p Current Estimation : $#{current_estimation}
          p New Estimation : $#{new_estimation}
          p Changes : #{changes}%
    .col-md-1



