include mixins
extends layout

block content


  .panel.panel-primary
    .panel-heading
        h2.panel-title Property Summary
    .panel-body
        p Address : #{address}
        p Property Type : #{ptype}

  .row
    .col-md-6
        .panel.panel-info
            .panel-heading
                h2.panel-title Current House
            .panel-body
                p floor_size : #{floor_size}
                p lot_size : #{lot_size}
                p number of bedroom : #{bedr}
                p number of bathroom : #{bathr}
                label school ratings
                ul.list-group
                    li.list-group-item
                        label Elementary:
                            #{es}
                    li.list-group-item
                        label Middle:
                            #{ms}
                    li.list-group-item
                        label High:
                            #{hs}

    .col-md-6
        .panel.panel-info
            .panel-heading
                h2.panel-title Future House
            .panel-body
                p floor_size : #{new_floor_size}
                p lot_size : #{new_lot_size}
                p number of bedroom : #{new_bedr}
                p number of bathroom: #{new_bathr}
                label school ratings
                ul.list-group
                    li.list-group-item
                        label Elementary:
                            #{new_es}
                    li.list-group-item
                        label Middle:
                            #{new_ms}
                    li.list-group-item
                        label High:
                            #{new_hs}

  .panel.panel-danger
    .panel-heading
        h2.panel-title Estimation Summary
    .panel-body
        p current_estimation : $#{current_estimation}
        p new_estimation : $#{new_estimation}
        p changes : #{changes}%



