html
  head
    title
    link(rel='stylesheet', href='/bootstrap-3.3.7-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css')
  body
    .navbar.navbar-fixed-top(role='navigation')
      .container-fluid
        .nav.navbar-right
          form#login(metdho='get', action='/login')
            input.btn.navbar-btn(value='Sign in', type='submit', style='margin-right:120px; margin-top: 40px; font-size:110%; background-color: #4285f4; color: white;')
    div(style='margin-top: 10%')
      img(src='/logo.png', style='display: block; margin-left: auto; margin-right: auto ')
      br
      br
      br
      .container
        form#search(method='get', action='/search')
          .row
            .col-md-1
            .col-md-10
              .well
                legend Property Summary:
                p address : #{address}
                p geohash #{geohash}
                p floor_size #{floor_size}
                p lot_size #{lot_size}
                p bedr #{bedr}
                p bathr #{bathr}
                p es #{es}
                p ms #{ms}
                p hs #{hs}
                p new_floor_size #{new_floor_size}
                p new_lot_size #{new_lot_size}
                p new_bedr #{new_bedr}
                p new_bathr #{new_bathr}
                p new_es #{new_es}
                p new_ms #{new_ms}
                p new_hs #{new_hs}
